.footer {
  height: 40px;
  background: #ADD8E6;
  clear: both;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 20px;
  padding-left: 120px;
}

.footer {
  flex: 0 0 auto;
}

.footer p {
  font-size: 14px;
}

.footer a {
  font-size: 12px;
}